{% extends "base.html" %}
{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "制度" "../" %}
{% endblock %}


{% block content %}

    <div class="container-fluid" >
        <div class="row">

            <div class="col-md-12">
                {% render_breadcrumbs %}
            </div>

        </div>
    </div>


<!-- Note --><section class="blog">

	<div class="container">
		<div class="row">
            <div class="col-md-10">
                <h3>制度列表</h3>
            </div>
			<div class="col-md-2">
            <a href="upload">制度上传</a>
                <a href="query/?rtype=content&rstring=1">查询</a>
            </div>
        </div>
        <div class="row">
                <div class="col-md-1">
                    #
                </div>
                <div class="col-md-7">
                    标题
                </div>
                <div class="col-md-2">
                    日期
                </div>
                <div class="col-mad-2">
                </div>
        </div>
        {% for rules in r %}
            <div class="row">
                <div class="col-md-1">
                    <h6>
                        {{ forloop.counter }}
                    </h6>
                </div>
                <div class="col-md-7">
                    <h4>
                        <a href="/n/rules/check/?id={{ rules.r_id }}">{{rules.r_title }} </a>&nbsp;&nbsp;&nbsp;&nbsp;({{ rules.clicked }})
                    </h4>
                </div>
                <div class="col-md-3">
                    <h6>
                    <i class="fa-calendar-0"></i> {{rules.r_post_time }}
                    </h6>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        {% endfor %}
        </div>
	</div>
    <br>
					<!-- Pagination -->
                    <div class="text-center">
						<ul class="pagination">
                            {% if r.has_previous %}
                                   <li>
                                       <a class='paginator' title='上一页' href='?page={{ r.previous_page_number }}'><span>&lt;&lt;</span></a>
                                   </li>
                            {% endif %}
                             {% for page in r.paginator.page_range %}
                                 {% if page == r.number %}
                                     <li class="active">
                                         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
                                     </li>
                                 {% else %}
                                     <li>
                                         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
                                     </li>
                                 {% endif %}
                             {% endfor %}
                             {% if r.has_next %}
                                 <li>
                                    <a class='paginator' title='下一页' href='?page={{ r.next_page_number }}'><span>&gt;&gt;</span></a>
                                 </li>
                             {% endif %}
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4">
			</div>
		</div>
	</div>
</section>
{% endblock %}