{% load static %}
{% block head %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Bohai Capital" />
	<meta name="author" content="Bohaiit" />
	<title>渤海金控企业门户</title>

    <link rel="stylesheet" href="{%static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{%static "css/font-icons/entypo/css/entypo.css" %}">
    <link rel="stylesheet" href="{%static "css/neon.css" %}">
    <link rel="stylesheet" href="{%static "js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" %}">
	<link rel="stylesheet" href="{%static "css/font-icons/entypo/css/entypo.css" %}">
<!--	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
-->
    <link rel="stylesheet" href="{%static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{%static "css/neon-core.css" %}">
	<link rel="stylesheet" href="{%static "css/neon-theme.css" %}">
	<link rel="stylesheet" href="{%static "css/neon-forms.css" %}">
	<link rel="stylesheet" href="{%static "css/custom.css" %}">
    <link rel="stylesheet" href="{%static "js/wysihtml5/bootstrap-wysihtml5.css"%}">
	<link rel="stylesheet" href="{%static "js/selectboxit/jquery.selectBoxIt.css"%}">
    <script href="{%static "js/jquery-1.11.0.min.js" %}"></script>
	<!--[if lt IE 9]><script src="{%static "js/ie8-responsive-file-warning.js" %}"></script><![endif]-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
{% endblock %}

{% block top %}
<body>
<div class="wrap">
	
	<!-- Logo and Navigation --><div class="site-header-container container">

	<div class="row">

		<div class="col-md-12">

			<header class="site-header">

				<section class="site-logo">

					<a href="index.html">
						<img src="{%static "/images/logo@2x.png" %}" width="220" />
					</a>

				</section>

				<nav class="site-nav">

					<ul class="main-menu hidden-xs" id="main-menu">
						<li>
							<a href="/n/">
								<span>企业门户</span>
							</a>
						</li>
						<li>
							<a href="/n/rules/">
								<span>规章制度</span>
							</a>
						</li>
						<li>
							<a href="/n/report/">
								<span>工作日志</span>
							</a>
						</li>
						<li>
							<a href="/n/tools">
								<span>常用工具</span>
							</a>
						</li>
						<li class="search">
							<a href="#">
								<i class="entypo-search"></i>
							</a>

							<form method="get" class="search-form" action="" enctype="application/x-www-form-urlencoded">
								<input type="text" class="form-control" name="q" placeholder="输入内容" />
							</form>
						</li>
                        {{ user.username }} 你好
					</ul>


					<div class="visible-xs">

						<a href="#" class="menu-trigger">
							<i class="entypo-menu"></i>
						</a>

					</div>
				</nav>

			</header>

		</div>

	</div>
   

</div> 
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
        {% breadcrumb "X平台" "http://x.hna.net/" %}
        {% breadcrumb "渤海金控" "../../" %}
{% endblock %}

{% block content %}
<!-- content -->

	<div class="container">
		<div class="row">
			<div class="col-md-10">

			</div>
			<div class="col-md-2">

            </div>
        </div>
 	</div>

{% endblock %}



{% block footer %}
	<!-- Footer Widgets -->
<section class="footer-widgets">
	<div class="container">
	<blockquote class="blockqoute small">
		<div class="row">
			<div class="col-md-6">
				<a href="#">
					<img src="{% static "/images/logo@2x.png"%}" width="100" />
				</a>
				<p>
				金融信息服务部 <br />
			               朱赓 &nbsp;&nbsp;18501950307&nbsp;&nbsp;010-57583649&nbsp;&nbsp;&nbsp;&nbsp;zhugeng@hnair.com<br />
			               时阳 &nbsp;&nbsp;15210618017&nbsp;&nbsp;010-57583657&nbsp;&nbsp;&nbsp;&nbsp;yang.shi@hnair.com<br />
			               杨扬 &nbsp;&nbsp;13820639626&nbsp;&nbsp;022-58087009&nbsp;&nbsp;&nbsp;&nbsp;y-yang6@hnair.com<br />
				</p>
			</div>

			<div class="col-md-3">

				<h5>渤海金控</h5>

				<p>
					北京市朝阳区霄云路甲26号<br />
					北京海航大厦20层<br />
					邮编：100125
				</p>

			</div>
			
			<div class="col-md-3">

				<h5>天津渤海</h5>

				<p>
					天津空港经济区环河北路76号<br />
					空港商务园区7-1-301<br />
					邮编：
				</p>

			</div>
			

		</div>
		
	</blockquote>
	</div>
</section>
{% endblock %}

{% block bottom %}
<!-- Site Footer --><footer class="site-footer">

	<div class="container">

		<div class="row">

			<div class="col-sm-6">
				技术支持： 渤海金控金融信息服务部  
			</div>

			<div class="col-sm-6">

				<ul class="social-networks text-right">
					<li>
						<a href="#">
							<i class="entypo-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="entypo-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="entypo-facebook"></i>
						</a>
					</li>
				</ul>

			</div>

		</div>

	</div>

</footer>

</div>
{% endblock %}

	<link rel="stylesheet" href="{%static "js/wysihtml5/bootstrap-wysihtml5.css"%}">
	<link rel="stylesheet" href="{%static "js/selectboxit/jquery.selectBoxIt.css"%}">
	<!-- Bottom Scripts -->
	<script src="{%static "js/gsap/main-gsap.js"%}"></script>
	<script src="{%static "assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"%}"></script>
	<script src="{%static "assets/js/bootstrap.js"%}"></script>
	<script src="{%static "assets/js/joinable.js"%}"></script>
	<script src="{%static "assets/js/resizeable.js"%}"></script>
	<script src="{%static "assets/js/neon-api.js"%}"></script>
	<script src="{%static "js/wysihtml5/wysihtml5-0.4.0pre.min.js"%}"></script>
	<script src="{%static "js/wysihtml5/bootstrap-wysihtml5.js"%}"></script>
	<script src="{%static "assets/js/jquery.multi-select.js"%}"></script>
	<script src="{%static "assets/js/fileinput.js"%}"></script>
	<script src="{%static "assets/js/bootstrap-datepicker.js"%}"></script>
	<script src="{%static "assets/js/selectboxit/jquery.selectBoxIt.min.js"%}"></script>
	<script src="{%static "assets/js/bootstrap-tagsinput.min.js"%}"></script>
	<script src="{%static "assets/js/neon-chat.js"%}"></script>
	<script src="{%static "assets/js/neon-custom.js"%}"></script>
	<script src="{%static "assets/js/neon-demo.js"%}"></script>
    <script src="{%static "assets/js/ckeditor/ckeditor.js"%}" id="script-resource-10"></script>
    <script src="{%static "assets/js/ckeditor/adapters/jquery.js"%}" id="script-resource-11"></script>
</body>
</html>